html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.noGames {
  color: #ffffff;
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  justify-content: center;
  margin-top: 10rem;
}


.layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0, 0, 0, 0.89);
  }

  .layout hr{
    background-color: #8b00ff;
    width: 99%;
    height: 2px;
    margin: 0;
    box-shadow: 0 0 50px 5px #8b00ff;
    border: #8b00ff;
  }

.layout main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:row;
}

.layout h2{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 1;
    text-align: center;
}

.cards {
    width: 90%;
    height: 90%;
    margin:0.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filters {
  width: 2fr;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
  position: relative;
  opacity: 90%;
}

.filters::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px; 
  background-color: rgb(38, 252, 181);
  border: rgb(38, 252, 181);
  box-shadow: 10px 0 80px 10px rgba(38, 252, 181, 0.697); 
}

.filters:hover{
  opacity: 100%;
  background-color: #140c22;
  transition: 0.4s ease-in-out;
}

.filters select{
    width: 80%;
    height: 1.5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    text-align: center;
}

.filters h2{
  position: relative;
  font-size: 1.75rem;
  text-align: center;
  color: #ffffff;

  font-weight: 700;
  line-height: 1;
  letter-spacing: 4px;
}

.filters h5{
  font-size: .80rem;
  text-align: center;
  margin-bottom: .5rem;

  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}

.filters button{
  margin-left: 1rem;
  margin-right: 1rem;
  width: auto;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.75rem;
  cursor: pointer;
  border: 0.10rem solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.filters button:hover {
  outline: none;
  border-color: rgba(38, 252, 181, 0.5);
  background-color: #ffffff;
  box-shadow: 0 0 20px 6px rgb(38 252 181 / 40%);
}


/*Esto es para el filtro por rating si llego a hacerlo
.rating{
  display: flex;
  flex-direction: row-reverse; / Agregado para invertir el orden de los elementos /
  justify-content: center;
  position: relative;
  height: 2rem;
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: .5rem;
}

  .rating:not(:checked) > input { /para que no se muestren las extrellas pintada si no esta seleccionada/
    position: absolute;
    appearance: none;
  }
  
  .rating:not(:checked) > label { /para que las estrellas que no estén seleccionadas tengan un cursor de tipo puntero, un color gris y no tengan ningún contenido antes de ellos./
    float:center ;
    cursor: pointer;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {  /le da la forma de estrella/
    content: '★';
  }
  
  /para que cuando se pasa el cursor sobre una estrella o se selecciona una estrella, el color del texto de las estrellas cambie/
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  /para que cuando se pasa el cursor sobre una estrella que no está seleccionada, el color del texto de las estrellas cambie a otro color/
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  /Le otorga el color final a la estrella seleccionada/
  .rating > input:checked ~ label {
    color: #ffa723;
  }
*/